<jukebox-navbar></jukebox-navbar>

<section id="artists" class="artists">
  <div class="container">
      <h2>Artists</h2>
      <div class="row" id="artist-search">
        <div class="col-md-6">
    	    <div class="input-group">
              <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  	<span id="search_concept">View</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">5</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li class="divider"></li>
                    <li><a href="#">All</a></li>
                  </ul>
              </div>
              <input type="hidden" name="search_param" value="all" id="search_param">
              <input type="text" class="form-control" name="x" placeholder="Search" ng-model="searchArtist">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
              </span>
          </div>
      </div>
  	</div>

    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ARTIST</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="artists in vm.artists | filter:searchArtist">
              <td>
                <a ui-sref="artistDetail({artistId: artists.id})">{{artists.name}}</a>
              </td>
            </tr>
          </tbody>
        </table>

        <nav>
          <ul class="pager">
            <p>{{vm.currentPage}} of {{vm.pager.totalPages}}</p>
            <li><button class="btn btn-default" ng-click="vm.onChange(vm.pager.firstLink)">First</button></li>
            <li><button class="btn btn-default" ng-click="vm.onChange(vm.pager.prevLink, (vm.currentPage - 1))" ng-disabled="!vm.pager.prevLink" >&lsaquo;</button></li>
            <li><button class="btn btn-default" ng-click="vm.onChange(vm.pager.nextLink, (vm.currentPage + 1))" ng-disabled="!vm.pager.nextLink">&rsaquo;</button></li>
            <li><button class="btn btn-default" ng-click="vm.onChange(vm.pager.lastLink)">Last</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
