<jukebox-navbar></jukebox-navbar>

<section id="albums">
  <div class="container">
      <h2>Albums</h2>
      <div class="row" id="album-search">
        <div class="col-md-6">
    	    <div class="input-group">
              <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  	<span id="search_concept">View</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">5</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li class="divider"></li>
                    <li><a href="#">All</a></li>
                  </ul>
              </div>
              <input type="hidden" name="search_param" value="all" id="search_param">
              <input type="text" class="form-control" name="x" placeholder="Search" ng-model="searchAlbum">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
              </span>
          </div>
      </div>
  	</div>

    <div class="row">
      <div class="col-md-6">

        <div ng-repeat="album in vm.albums | filter:searchAlbum">
          <img ng-src="{{album.coverArt}}" height="50px"alt="" class="img-rounded">
          <a class="artist-title" ui-sref="albumDetail({albumId: album.id})">{{album.title}}</a>
          <hr>
        </div>

        <nav aria-label="Page navigation" class="pull-right">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
