
<jukebox-navbar></jukebox-navbar>

<section id="playlist-detail" class="playlist-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{vm.playlist.name}}</h2>

        <p>Created By <strong class="jb-orange">{{vm.playlist.user.username}}</strong> • {{vm.playlist.songs.totalCount}} songs</p>
        <div class="row">
          <div class="col-md-12">
            <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>SONG</th>
                  <th class="text-center"><i class="fa fa-clock-o"></i></th>
                  <th class="text-center"><i class="fa fa-pencil"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="song in vm.songs | filter:searchSong">
                  <td>{{$index + 1}}</td>
                  <td>
                    <a class="" ui-sref="songs.detail({songId: song.id})">{{song.title}}</a>
                  </td>
                  <td class="text-center">{{song.duration}}</td>
                  <td class="text-center">
                    <div class="dropdown">
                      <a id="dropdownLabel" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h"></i>
                      </a>
                      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li role="menuitem"><a href="#">Go to Artist</a></li>
                        <li role="menuitem"><a ui-sref="songs.detail({songId: song.id})">Go to Song</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">Add to Playlist</a>
                          <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">New Playlist</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="playlist in myPlaylists"><a ng-click="vm.addPlaylistSongs(playlist.id, song.id)">{{playlist.name}}</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
  </div>
</section>
