<jukebox-navbar></jukebox-navbar>

<section id="song-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <br><br>
        <div class="album-art-wrapper">
          <img ng-src="{{vm.song.album.coverArt}}" width="225px" class="img-responsive" alt="Album cover art">
        </div>
      </div>
      <div class="col-md-8">
        <br>
        <h2><i class="fa fa-music"></i> {{vm.song.title}}</h2>

        <div class="song-content-wrapper lead">
          <p>Artist: <a class="jb-orange" ui-sref="artistDetail({artistId: vm.song.artist.id})">{{vm.song.artist.name}}</a></p>

          <p>Album: <a class="jb-green" ui-sref="albumDetail({albumId: vm.song.album.id})">{{vm.song.album.title}}</a></p>

          <p>Duration: {{vm.song.duration}}</p>
          <br>


          <div class="btn-group" uib-dropdown>
           <button id="split-button" type="button" class="btn btn-default">Add</button>
           <button type="button" class="btn btn-default" uib-dropdown-toggle>
             <span class="caret"></span>
             <span class="sr-only">Split button!</span>
           </button>
           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
             <li role="menuitem"><a href="#">New Playlist</a></li>
             <li class="divider"></li>
             <li role="menuitem" ng-repeat="playlist in myPlaylists"><a ng-click="vm.addPlaylistSongs(playlist.id, vm.song.id)">{{playlist.name}}</a></li>
           </ul>
         </div>
        </div>
      </div>
      <!-- end col -->
    </div>
  </div>
</section>
